body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0;
}

.container {
    background: rgb(251, 247, 247);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #6c4646;
}

.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #452929;
    border-radius: 5px;
}

button {
    background: #4b1a29;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #71092e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

li button {
    background: #dc3545;
    padding: 5px 10px;
    border-radius: 5px;
}


